version: '3.4'

services:
  micro-portainer:
    container_name: micro-portainer
    hostname: micro-portainer
    image: juliocesarmidia/micro-portainer:latest
    build:
      context: ./micro-portainer
    restart: on-failure
    networks:
      - subnet_0
    ports:
      - 8080:8080
    environment:
      NODE_ENV: production
      V_DOCKER_API: ${V_DOCKER_API}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./micro-portainer:/app:rw
      - micro-portainer-node-modules:/app/node_modules:rw

networks:
  subnet_0:
    driver: bridge

volumes:
  micro-portainer-node-modules: {}

secrets: {}
